@import "tailwindcss";
@import "@repo/design-system/tokens";
@import "@repo/design-system/styles";
@import "@repo/ui/styles";

html,
body {
  max-width: 100svw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  html {
    color-scheme: dark;
  }
}
