@import "tailwindcss";
@import "@repo/design-system/tokens";
@import "@repo/design-system/styles";
@import "@repo/ui/styles";

html,
body {
  max-width: 100svw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  html {
    color-scheme: dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-sans);
}

.font-mono {
  font-family: var(--font-mono);
}